/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
*,
html {
  font-family: "Noto Sans JP", sans-serif;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosansjp/v28/-F6pfjtqLzI2JPCgQBnw7HFQMisq1A.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosansjp/v28/-F6pfjtqLzI2JPCgQBnw7HFQei0q1A.otf) format('opentype');
}
body {
  padding: 3em 12em;
}
.no-scroll {
  height: 100vh;
  overflow: hidden;
  padding-right: 13.7em;
}
.body-blackout {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.35);
  z-index: 2;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7.5em;
}
.header .logo-and-search {
  display: flex;
  align-items: center;
}
.header .logo-and-search form {
  height: 5.5em;
  width: 30rem;
  margin-left: 2.4em;
  position: relative;
  display: flex;
  align-items: center;
}
.header .logo-and-search form svg {
  position: absolute;
  left: 1.9rem;
  color: #bdbdbd;
  width: 1.7rem;
  height: 1.7rem;
  z-index: 1;
}
.header .logo-and-search input {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.9rem;
  max-height: 100%;
  width: 100%;
  padding: 1.8em;
  padding-left: 3.7em;
  border: 1px solid #bdbdbd;
  border-radius: 12px;
  filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
}
.header .logo-and-search input::placeholder {
  color: #bdbdbd;
}
.header button {
  background-color: #3db46d;
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
  padding: 0 1.4em;
  border: none;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
.photo-gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 5em;
  align-items: start;
}
.photo-gallery .column {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-row-gap: 5em;
}
.photo-gallery .photo {
  position: relative;
}
.photo-gallery .photo:hover .img-overlay {
  display: flex;
}
.photo-gallery .photo img {
  border-radius: 16px;
  max-width: 100%;
}
.photo-gallery .img-overlay {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  background: rgba(0, 0, 0, 0.38);
  width: 100%;
  height: 100%;
  border-radius: 16px;
  z-index: 1;
}
.photo-gallery .img-overlay .delete-btn-cont {
  display: flex;
  justify-content: flex-end;
}
.photo-gallery .img-overlay button {
  color: #eb5757;
  border: 1px solid #eb5757;
  border-radius: 38px;
  background-color: transparent;
  margin: 1.8rem;
  width: 6.3rem;
  cursor: pointer;
}
.photo-gallery .img-overlay p {
  color: white;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  max-width: 100%;
  padding: 0 2.4rem 3.2rem;
}
.modal {
  display: none;
  position: absolute;
  margin: auto;
  top: 30vh;
  left: 0;
  right: 0;
  width: 70rem;
  padding: 2.4em 3.2em;
  background-color: white;
  border-radius: 12px;
  z-index: 3;
}
.modal h3 {
  font-size: 2.4rem;
  color: #333333;
  margin-bottom: 2.1rem;
}
.modal form {
  display: flex;
  flex-direction: column;
}
.modal label {
  font-size: 1.4rem;
  color: #4f4f4f;
  margin-bottom: 0.9em;
}
.modal input {
  height: 5.5rem;
  max-height: 5.5rem;
  margin-bottom: 1.8em;
  font-size: 1.4rem;
  padding: 0 1.8em;
  border: 1px solid #4f4f4f;
  border-radius: 12px;
  filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
}
.modal input::placeholder {
  color: #bdbdbd;
}
.modal .buttons {
  text-align: end;
  height: 5.5rem;
}
.modal .buttons button {
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.modal .buttons .cancel-btn {
  color: #bdbdbd;
  background-color: transparent;
  padding: 0;
  margin-right: 2.4rem;
}
.modal .buttons .submit-btn,
.modal .buttons .delete-btn {
  color: white;
  width: 10rem;
  height: 100%;
  font-weight: 700;
  border-radius: 12px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}
.modal .buttons .submit-btn {
  background-color: #3db46d;
}
.modal .buttons .delete-btn {
  background-color: #eb5757;
}
