.photo-gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 4.5em;
  align-items: start;

  .column {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-row-gap: 4.5em;
  }

  .photo {
    img {
      border-radius: 16px;
      max-width: 100%;
    }
  }
}
